@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: blueviolet;
}

.form {
    background-color: rgb(114, 5, 217);
    border-radius: 20px;
    height: 525px;
    width: 450px;
    position: relative;
    left: 600px;
    top: 100px;
}

.label {
    color: yellow;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    position: relative;
    left: 20px;
    top: 50px;
    font-size: 40px
}

#lemail {
    position: relative;
    top: 75px;
}

#name, #email {
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 50px;
}

#email {
    position: relative;
    top: 75px;
}

#btn {
    background-color: yellow;
    font-family: "Press Start 2P", system-ui;
    color: blueviolet;
    font-size: 20px;
    height: 75px;
    width: 250px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px black;
    position: relative;
    top: 150px;
    left: 100px;
}