<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Estoque</title>
</head>
<body>
    <form action="/adicionarEst" method="post">
        <label for="prod" class="label">Produto:</label>
        <br>
        <input type="text" name="prod" id="prod" required>
        <label for="prUnit" class="label">Preço Unitário:</label>
        <br>
        <input type="text" name="prUnit" id="prUnit" required>
        <label for="qtd" class="label">Quantidade:</label>
        <br>
        <input type="text" name="qtd" id="qtd" required>
</body>
</html>